#body-details {
    width: 800px;
    height: 60vh;
    margin: auto;
}

#back-btn {
    background: transparent;
    border: none;
    font-size: 30px;
    position: relative;
    left: 40px;
    top: 30px;
}

#bookmark {
    background: transparent;
    border: none;
    font-size: 30px;
    position: relative;
    left: 700px;
    top: 30px;
}

#details-nameTypeIdImg {
    display: flex;
    flex-direction: column;
}

#details-nameTypeId {
    display: flex;
    flex-direction: row;
}

#details-nameType {
    display: flex;
    flex-direction: column;
}

#details-name {
    text-transform: capitalize;
    margin-left: 50px;
    font-weight: 600;
    font-size: 40px;
    color: white;
    position: relative;
    top: 50px;
}

#details-id {
    font-size: 25px;
    font-weight: 600;
    color: white;
    position: relative;
    right: -450px;
    top: 90px;
}

#details-type {
    display: flex;
    position: relative;
    top: 30px;
    left: 50px;
}

#details-img {
    width: 300px;
    position: relative;
    top: 50px;
    left: 250px;
    z-index: 1;
}

#details-detail {
    border: none;
    width: 800px;
    height: 30vh;
    margin: 0 auto;
    position: relative;
    bottom: 70px;
    background-color: white;
    border-radius: 50px;
}

#detail-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    position: relative;
    top: 50px;
    font-weight: 600;
    color: lightgray;
}

#detail-list :hover {
    color: black;
    cursor: pointer;
}